<div class="carousel carousel-container slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li class="active"></li>
    <li></li>
    <li></li>
  </ol>
  <div class="carousel-inner">
    <div class="item active">
      <img class="slide-image" src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1494327031148&di=3fa0bab1e8417bdbd9d1a86a3c15aafb&imgtype=0&src=http%3A%2F%2Fwww.chong3000.com%2Fpho%2Fkp%2Fimages%2F002_001_b.jpg" />
    </div>
    <div class="item">
      <img class="slide-image" src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1494327031147&di=727f1b77b79fe5d9d254543489366b87&imgtype=0&src=http%3A%2F%2Fm.qqzhi.com%2Fupload%2Fimg_1_2605161559D1658707506_23.jpg" />
    </div>
    <div class="item">
      <img class="slide-image" src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1494327105788&di=e7dba3b85f68e7abeb9b2feb043bbc05&imgtype=0&src=http%3A%2F%2Fimg22.mtime.cn%2Fup%2F2011%2F02%2F20%2F160036.38822056_o.jpg" />
    </div>
  </div>
  <a class="left carousel-control" href="javascript:$('.carousel').carousel('prev')">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="javascript:$('.carousel').carousel('next')">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>
